@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.side-panel-icon {
  @apply 2xl:w-12 2xl:h-12 xl:w-10 xl:h-10 lg:w-12 lg:h-12 md:w-12 md:h-12 hover:animate-spin;
}

.post-container {
  @apply relative flex 2xl:flex-row xl:flex-row lg:flex-row md:flex-row sm:flex-col grid-cols-3 2xl:h-72 xl:h-64 lg:h-72 md:h-64 sm:h-[600px] 2xl:mb-10 xl:mb-8 lg:mb-8 md:mb-8 sm:mb-8 rounded-3xl bg-black;
}

.post-background {
  @apply absolute 2xl:w-3/4 xl:w-3/4 lg:w-3/4 md:w-3/4 sm:w-full 2xl:h-full xl:h-full lg:h-full md:h-full sm:h-1/2 rounded-3xl opacity-80 bg-center bg-cover;
}

.post-content-container {
  @apply relative w-3/4 2xl:h-72 xl:h-64 lg:h-72 md:h-64 sm:h-96 rounded-3xl;
}

.post-btn {
  @apply h-1/4 2xl:text-xl xl:text-base lg:text-xl md:text-base font-semibold rounded-xl text-white 2xl:px-8 xl:px-6 lg:px-8 md:px-6 2xl:py-3 xl:py-2 lg:py-3 md:py-2 cursor-pointer transition duration-500 transform hover:-translate-y-1 inline-block bg-pink-700;
}

.scrolls-excerpt {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrolls-excerpt::-webkit-scrollbar {
  display: none;
}

.activeMobileNav{
  @apply grid grid-cols-2;
}

.hiddenMobileNav{
  @apply grid grid-cols-12;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

  &:before {
    content: '';
    content: "";
    width: 100%;
    height: 100vh;
    //background: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e, #32b37b);
    // background: #D3D3D3;
    //
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
  }

  &:hover {
    & .arrow-btn {
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;

    &:hover {
      width: 60px;
    }
  }

}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}